/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }


.ttl {
    align-content: center;

  }

  body {
        background: -webkit-linear-gradient(#A4A4A4, rgb(100, 100, 100)); 
        background: -o-linear-gradient(#A4A4A4, rgb(100, 100, 100)); 
        background: -moz-linear-gradient(#A4A4A4, rgb(100, 100, 100)); 
        background: linear-gradient(#A4A4A4, rgb(100, 100, 100)); 
        background-color: rgb(100, 100, 100); 
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .lbox {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.password {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.password {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }